  // Colors
  $white: #ffffff;
  $white-opacity-60: rgba(255, 255, 255, 0.6);
  $white-opacity-80: rgba(255, 255, 255, 0.8);
  $red: #ff6347;
  $yellow: #ffd000;
  $gray: #808080;


.projects-container {
    width: 100dvw;
    min-height: 100dvh;
    // padding-top: 5%;
    padding: 300px 0 100px 0;
    display:flex;
    flex-direction: column;
    row-gap: 20px;
    perspective: 1000px;

      .categories-container {
        position: absolute;
        top: 150px;
        width: 100vw;
        display: flex;
        justify-content: center;
        gap: 5px;
        font-family: "Libre Franklin", sans-serif;
        // font-family: "Gabarito", sans-serif;  

        .filter-title {
            color: rgb(193, 193, 193);
            font-size: 22px;      

            height: 22px;
            align-self: center;
            margin-right: 30px;

        }
         li {
            width: 120px;
            font-size: 18px;
            list-style: none;
            cursor: pointer;
            color: white;
            text-align: center;
            padding: 6px 0;
            border: 1px solid #383838;
            background-color: #161618bc;
            backdrop-filter: blur(15px);
            -webkit-backdrop-filter: blur(15px);
            border-radius: 8px;
            transition: all 0.1s ease-in-out;

            &:hover {
                background-color: #56565663;
            }
         }
         .active {
            color: #000000;
            border-color: #f1e72b;
            background-color: #f1e72bce;
            transition: all 0.1s ease-in-out;
            &:hover {
                background-color: #f1e72bce;
            }
         }

         
      }

    //----------------------------------------------------------------
    .parallax-container {
        position: absolute;
        top: 0%;
        width: 100vw;
        .parallax {
        overflow: hidden;
        letter-spacing: -2px;
        margin: 0;
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap;
      }
      
      .parallax .scroller {
        letter-spacing: 0rem;
        font-size: 30px;
        font-weight: 500;
        color: #ffffff41; 
        text-transform: uppercase;
        display: flex;
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap;
      }
      
      .parallax span {
        display: block;
        margin-right: 60px;
      }
    }
 

//---------------------------------------------------------------- 

    .project-card {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        align-items: center;
        max-width: fit-content;
        padding: 1rem;
        gap: 1rem;
        box-shadow: 6px 6px 4px #0b0b0bd8;
        border: 1px solid #383838;
        border-radius: 8px;
        position: relative;
        background-color: #161618bc;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);

        /* Initially collapsed */
        // height: 50px;
        // overflow: hidden;
        // transition: height 0.3s ease-in-out;

        .rotating-span {
            position: absolute;
            right: 5px;
            top: 5px;
            color: white;
            font-size: 30px;
        }

        
        .column-left {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            max-width: 380px;


            .title {
                // font-family: 'Anton', sans-serif;
                color: #ffffff;
                // -webkit-text-stroke: .8px #ffffff;
                font-size: 25px;
                text-transform: uppercase;
                transition: color .5s,opacity .5s;
                width: fit-content;
                margin: 0 auto;
            }
            .title:hover {
                color: rgb(71, 255, 92);
                opacity: 1;
            }
            a{
                text-decoration: none;
              

            }
            .links-wrapper {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                gap: 1rem;
                a {
                    font-weight: 700;
                    font-size: 1.1rem;
                    padding: 5px 10px;
                    color: rgb(218, 210, 43);
                    border: 1px solid transparent;
                    &:hover{
                        // background-color: #00b7ff;
                        border-color: #ffd000;
                        border-radius: 10px;
                        transition: all .3s;
                    }
                    &:active {
                        border-color: #1a1919a6;
                        color: #ffd00045;
                        transition: all .1s;
                    }
                }

            }
            .skills {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: .5rem;
                margin: 1rem auto;
            
                p {
                    font-size: .85rem;
                    color: rgb(222, 222, 222);
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    background-color: #9595955d;
                    width: fit-content;
                    height: fit-content;
                    border-radius: 10px;
                    padding: 5px 10px;
                }
            }
        }
        .column-right {
            margin: 0 1rem;
            position: relative;
            width: 400px;
            height: 190px;
            overflow: hidden;
            transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;

            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              filter: brightness(0.7)  ;
            }
          
            &:hover {
              filter: brightness(1.2)  ;
            }

        }
        /*  content inside remains visible after expansion */
        // .column-left .links-wrapper,
        // .column-left .skills,
        // .column-right {
        //     opacity: 0;
        //     transition: opacity 0.3s ease-in-out;
        // }


    }

    .project-card:hover .rotating-span {
        animation: slow-down-rotate 1.5s ease-out forwards;
    }

    /* expand the card on hover */
    // .project-card:hover {
    //     height: 280px; 
    // }
    /* fade in content when expanded */
    // .project-card:hover .column-left .links-wrapper,
    // .project-card:hover .column-left .skills,
    // .project-card:hover .column-right {
    //     opacity: 1;
    // }
    // .project-card .column-left .title {
    //     opacity: 1;
    //     position: absolute;
    //     left: 10px;
    //     top: 5px;
    //     z-index: 111;
    // }
    @keyframes slow-down-rotate {
        0% {
            transform: rotate(0deg);
            animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
        }
        // 70% {
        //     transform: rotate(270deg);
        //     animation-timing-function: cubic-bezier(0.4, 0.9, 0.6, 1);
        // }
        100% {
            transform: rotate(360deg);
        }
    }
    .mobile-app {
        .column1  {
            img {
                background-position-y: bottom !important;
                top: -80%;
            }
        }
    }

}

@media (min-width: 1800px) {
    .projects-container {
        .parallax-container {
            .parallax .scroller {
                font-size: 44px;
            }            
        }
    }

}



@media (max-width: 1650px) {
    .projects-container {
        margin-top: 8% ;

        .parallax .scroller {
            font-size: 3.5rem;
          }
          .project-card {         
            .column1 {
                width: 450px;
                height: 200px;
            }

          }
    }
}



@media (max-width: 800px) {
   .projects-container {
    // padding-top: 200px;
    .categories-container {
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        width: 340px;
        flex-wrap: wrap;
        gap: 10px;
        .filter-title  {
            font-size: 20px;
        }
    }
    .project-card {
        margin: 0 auto;
        max-width: 90%;
        .column-left{
            text-align: center;
            z-index: 11;
        }
        .column-right {
            margin: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
            img {
                filter: brightness(0.15)  ;
            }
        }
    }
   }
}