
.trueStyle  {
    -webkit-line-clamp: 7;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
 }

 .falseStyle  {
    -webkit-line-clamp: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
 }

    .showcase {
        height: 50vh;
        margin: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        color: rgba(0, 255, 225, 0.434);
        font-size: 1.2rem;
        font-weight: lighter;
        letter-spacing: 1px;
        // font-family: 'Ubuntu Mono', monospace;
        // text-align: center;
        // padding: 0% 0;
        span {
            margin-left: 9px;
            margin-top: 9px;
            color: rgba(255, 158, 1, 0.702);
         
        }
    }


.about-container {
    min-height: 100vh;
    z-index: 50;
    display: flex;
    flex-direction: column;
    // margin-top: 10%;
    gap: 3rem;
    min-height: 97vh;
    max-width: 1900px;
    margin-bottom: 3rem;
    position: relative;



    .title-wrapper { 
        width: 100%;
        text-align: left;
        margin-left:2rem ;
        margin-top: 5%;
        p{
            -webkit-text-stroke: .8px #ffffff5b;
            letter-spacing: 0rem;
            font-size: 5rem;
            font-weight: 900;
            color: #ffffff00;
            
        }

    }
    .bio-wrapper {
        
        width: 95%;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 1.4rem;
        font-weight:100;
        line-height: 2.3rem;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        height: 100%;
        margin: 0 auto;
        text-align: center;

        position: relative;
        .text-wrapper {
            background-image: linear-gradient(15deg, #13547a2e 0%, #80d0c725 100%);
            display: flex;
            flex-direction: column;
            // justify-content: center;
            text-align: justify;
            padding: 3rem 3rem;
            gap: 2rem;
            z-index: 11;
            font-size: 1.3rem;
            // border: .5px solid white;
            // /
            font-family: 'Ubuntu Mono', monospace;
            box-shadow: 4px 4px 10px #0b0b0bd8;
            p {

                color: rgb(197, 195, 195);
                span {
                    font-weight: 500;
                }
            }
            .clampButton {
                font-size: 1.1rem;
                width: fit-content;
                padding: 0 8px;
                color: white;
                background-color: #0a93f500;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                cursor: pointer;
                &:hover {
                    background-color: #0fa3d487;
                }
            }
            .cred-container {
                a {
                    border: 1px solid rgb(18, 136, 165);
                    padding: 6px 20px;
                    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    transition: all .1s linear;
                    &:hover{
                        background-color: rgba(17, 106, 128, 0.262);
                        box-shadow: rgb(18, 136, 165) 0px 0px 0px 1px inset, rgba(17, 106, 128, 0) 10px -10px 0px -1px, rgba(17, 105, 128, 0.794) 10px -10px;
                        // transition: all 4s linear;
                    }
                }
            }

            hr {
                border-width: 0.1px ;

            }
            .download-button {
                width: fit-content;
                align-items: center;
                background-color: #2c6c7905;
                box-sizing: border-box;
                color: #fcfcfc;
                cursor: pointer;
                display: inline-flex;
                height: 48px;
                padding-left: 16px;
                padding-right: 16px;
                text-align: left;
                text-decoration: none;
                transition: box-shadow .15s,transform .15s;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                white-space: nowrap;
                will-change: box-shadow,transform;

            }
            div {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                a{
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    font-size: 1.2rem;
                    color: white;
                    cursor: pointer;
                }                
            }
        }
        .svg-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                color: rgb(255, 255, 255);
                padding: 0 1rem;
                letter-spacing: 3px;
                display: flex;
                align-items: center;
                img {
                    transform:  rotate(50deg);
                    width: 100px;
                    background-color: transparent;
                }
            }
            .skills-list {
                margin: auto 3rem;
                color: rgba(255, 255, 255, 0.867);
                list-style: none;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template: repeat(4, 1fr)/ repeat(4, 1fr);
                grid-template-rows: auto;
                width: 90%;
                margin-top: 1rem;
                gap: 5px;
                li {

                    width: 100%;
                    height: fit-content;
                    padding: 12px 0;
                    background-color: #6363634f;
                    border: none;
                    // font-size: .9rem;
                    border-radius: 10px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #24272b61;
                    gap: .5rem;
                    font-size: 0.9rem;
                    // border: .1px solid rgba(6, 95, 95, 0.938);
                    z-index: 111;
                    position: relative;
                    transition: all 1s ease-in-out;
                    font-size: 1.1rem;
                    span {
                        font-size: 1.7rem;
                        transition: all .3s ease-in-out;
                    }
                }
                // li:hover {
                //     background-color: rgba(17, 106, 128, 0.719) !important;
                //     color: transparent;
                //     transition: backgound-color .3s ease-in-out;
                // }
                // li:hover span {
                //     width: fit-content;                    
                //     color: rgb(255, 255, 255);
                //     transform: scale(2) translateY(5px);
                //     position: absolute;
                //     transition: all .3s ease-in-out;
                // }
            }
        }
    }

}
.ufo-container {
    position: absolute;
    left:-1300px;
    transform: translateY(-20px);
    animation: ufo 10s infinite linear;
    display: flex;
    align-items: center;
    width: 100%;
    // display: flex;
    // justify-content: space-evenly;

    .banner-text {
        
        border: 1px solid white;
        padding: 20px;
  
    }
    .line {
        width: 400px;
        border-bottom: 1px solid white;
        margin-right: 1rem;
    }
    .ufo {
    
    width: 80px;

    }
}



@keyframes ufo {


    100% {
        transform: translateX(100vw )+ 1300px;
        // transition: transform 3s ease-in-out;

    }
}

@media (max-width: 1650px) {
    .showcase {
        font-size: 1rem;


    }
    .about-container {
        .title-wrapper {
            p {
                font-size: 4rem;
            }
        }
        .bio-wrapper {
            font-size: 1.5rem;
            line-height: 2.3rem;
            .text-wrapper {
                padding:  2rem;
            }
            .svg-container {
                img {
                    width: 500px;
                   
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .showcase{
        font-size: 0.8rem;
        text-align: center;

    }
    .about-container {
        
        .title-wrapper {
            p {
                font-size: 2.5rem;
      
            }
        }
        .bio-wrapper {
            display: flex;
            flex-direction: column;
            max-width: 80vw;
            font-size: 1.4rem;
        
            .text-wrapper {
                padding: 1rem;
            }
            .svg-container {
                p{
                    margin-top: 2rem;
                }
                img {
                    left: 0%;
                    top: 30%;
                    transform: translateY(0%);
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .showcase{
    }
    .about-container {
        .bio-wrapper {
            font-size: 0.9rem;
            line-height: 1.7rem;
            max-width: 100vw;
           .text-wrapper {
            text-align: start;
            font-size: 1rem;

           }
            div {
                flex-direction: column;
                gap: 2rem;
            }
            .svg-container {
                .skills-list {
                    grid-template-columns: 50% 50%;
                    grid-template-rows: auto;
                    width: 90%;
                    margin-top: 1rem;
                     li {
                        width: 100%;
                        height: fit-content;
                        padding: 3px 0;
                        background-color: #6363634f;
                        border: none;
                        font-size: .9rem;
                        border-radius: 10px;
                     }
                }
            }
        }
    }
}


