
.header-container {
    height: 90vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 200, 255, 0.085) 100%);
    
    .mouse {
        width: 50px;
        position: absolute;
        left:  50%;
        transform: translateX(-50%);
        bottom: 2%;
        opacity: 0.2;
    }
    .cos-container {
        animation: floatA 3s ease-in-out infinite;
        position: absolute;
        top: 30%;
        .cos {
            width: 560px;
            animation: scaleDown 7s cubic-bezier(0.215, 0.610, 0.355, 1)  forwards;
            z-index: -10;
        }
        @keyframes scaleDown {
            0% { transform: scale(4); }
            100% { transform: scale(1); }
        }
        @keyframes floatA {
            0%, 100% { transform: translateY(0px); }
            50% { transform: translateY(10px); }
        }
        .led-light {
            width: 2px;
            height: 2px;
            background-color: rgb(36, 198, 216);
            opacity: 0;
            box-shadow: 0 0 40px 20px rgba(3, 220, 245, 0.778);
            z-index: 1111;
            position: absolute;
            right: 37.5%;
            top: 33%;
            animation: blink 3s ease-out infinite 7s;
        }
        @keyframes blink {
            0% { opacity: 1; }
            30% { opacity: 0.3; }
            100% { opacity: 0; }
        }
        .hello-container {
            position: absolute;
            top: -15%;
            right: -45%;
            opacity: 0;
            animation: fade-in 4s ease-in-out 4s forwards; 
            .hello {
            margin: .5rem;
            font-size: 1rem;
            color: #f73030ce;
            font-weight: 100;
            letter-spacing: 2px;
            font-family: 'Orbitron', sans-serif;
            // font-family: 'Ubuntu Mono', monospace;
            // animation: anHello 4s cubic-bezier(0.215, 0.610, 0.355, 1)  forwards 2s;
            // display: none;
            }
            @keyframes fade-in {
                0% { opacity: 0; }
                100% { opacity: 1; }
            }
    
        }

    }

    .title{
        width: 100%;
        text-align: center;
        font-size: 6.9rem;
        font-weight: 900;
        color: #0E141B;
        -webkit-text-stroke: 1px rgb(243, 243, 243);
        text-transform: uppercase;
        // animation: textAnim .3s ease 1.3s 2 normal forwards;
        @keyframes textAnim {
            0%,
            50%{
                -webkit-text-stroke: .5px rgba(0, 221, 255, 0.995);
            }
           100% {
            -webkit-text-stroke: .5px rgb(0, 221, 255);
                text-shadow:  -2px 2px 200px rgba(0, 221, 255, 0.747);
                // color: rgb(1, 39, 45);
            }
            25%,
            75% {
                -webkit-text-stroke: .5px rgba(0, 221, 255, 0);
                text-shadow:  -2px 2px 200px #06dafb00;
                // color: rgba(0, 221, 255, 0.289);
            }
        }

    }

}


@media (max-width: 1675px) {

    .header-container {
        .title {
            font-size: 6rem;
            font-weight: 900;
        }
    }

}
@media (max-width: 1455px) {

    .header-container {
        .title {
            font-size: 5rem;
            font-weight: 900;
        }
    }

}
@media (max-width: 1250px) {

    .header-container {
        .title {
            font-size: 3.5rem;
            font-weight: 900;
        }
    }

}
@media (max-width: 1000px) {

    .header-container {
        .cos-container{
            .hello-container{
                top: -30%;
                right: 0%;
            }
        }
    }

}


@media (max-width: 880px) {

    .header-container {
        margin: 0;
        .mouse {
            display: none;
        }
      
        .cos-container{
            .cos {
                width: 100%;
                animation: none;
            }
            @keyframes scaleDown {
                0% { transform: scale(2); }
                100% { transform: scale(1); }
            }
            .hello-container{
                top: -20%;
                right: 0%;
                .hello{
                    font-size: 1rem;
                }
            }
        }
    }


}



@media (max-width: 768px) {

    .header-container {

        .title {
            font-size: 3rem;
            font-weight: 900;
        }

    }

}

@media (max-width: 550px) {

    .header-container {
        padding-top: 5vh;
        .title {
            font-size: 2rem;
            font-weight: 900;
        }
        .cos-container{
            top: 25%;
            display: flex;
            // align-items: center;
            .cos {
                width: 80%;
                margin: 0 auto;
            }
            .hello-container{
                top: -10%;
                right: 10%;
                .hello{
                    font-size: .8rem;
                }
            }
        }
    }

}




