.header-container {
    height: 100vh;
    // text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5vw;

    .hello {
        // text-align: center;
        font-size: 2.5rem;
        color: rgb(100, 31, 31);
    }
    .title{
        margin: inherit ;
        font-size: 4rem;
        color: cadetblue;
        font-weight: 800;
        perspective: 1000px;
        transform-style: preserve-3d;
        // -webkit-text-stroke: 3px rgb(255, 255, 255);
        transition: all 1s;

    }



}




