

.show-container {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  #home-button {
    position: fixed;
    left: 2%;
    top: 2%;
    z-index: 100;
    color: white;
    text-decoration: none;
    initial-letter: small-caps;
  }
    .show-header-container {
      width: 100%;
      height: 90vh;
      display: grid;
      grid-template-columns: 50% 50%;
      justify-content: center;
      align-items: center;
        .title-group {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;

          h1 {
            font-size: 3.5rem;
            font-weight: 700;
            color: white;
            text-align: center;
            margin-bottom: 1rem;
            
          }
          span {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            // letter-spacing: 2px;
            font-style: italic;
            font-weight: 100;
            color: white;
            text-align: center;
          }
          .role-group {
            position: absolute;
            bottom: 0%;
            left: 2%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            p {
              color: white;
              font-family: Arial, Helvetica, sans-serif ;
              letter-spacing: 2px;
              font-size: 13px;
              // transform text to upper case
              text-transform: uppercase;
              span {
                color: rgba(229, 21, 21, 0.632);
                font-weight: 900;
                margin-right: 1rem;
              }            
            }
          }
        }
        .image-group {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: black;

          .desktop-pic {
            width: 70%;
            // max-height: 60vh;
          }

        }
    }
    .description-container {
      width: 100%;
      min-height: 450px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #01191f;
        .description-group {   
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2rem;        
          h3 {
            font-size: 2.8rem;
            font-weight: 900;
            letter-spacing: 4px;
            color: rgb(13, 150, 116);
            
          }
          p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
            font-weight: 100;
            letter-spacing: 0.5px;
            color: rgb(255, 255, 255);
            text-align: justify;
            line-height: 1.7rem;

          }
            a {
       
              padding: 15px 25px;
              border: none;
              background-color: rgba(13, 150, 116, 0.489);
              transition: all 0.5s;
              cursor: pointer;
              button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                font-size: 1.2rem;
                text-decoration: none;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-weight: 100;
                color: rgb(233, 233, 233);
              }
            }
            a:hover {
              background-color: rgba(13, 150, 116, );
              
            }
        }
    }
    .images-container {
      width: 100%;
      min-height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .desktop-img {
        width: 45%;
        
      }
      .react-player {
        height: 40vh;
      }
      .mobile-img{
        height: 400px;
      }


    }

    .tech-stack-container {
      width: 100%;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: #01191f;
      margin-bottom: 5%;

      h3 {
        font-size: 2.8rem;
        font-weight: 900;
        letter-spacing: 4px;
        color: rgb(13, 150, 116);
      }

      .tech-stack-group {
        width: 80vw;

        .tech-stack {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 1rem;
          li {
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 1.5px;
            font-weight: 100;
            list-style: none;
            padding: 5px 10px;
            background-color:  rgba(13, 150, 116, 0.186);
            border: 1px solid rgba(13, 150, 116, 0.336);
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: 100;
            color: rgb(255, 255, 255);
          }
        }

      }
      .repo-link {
        font-size: 1.2rem;
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 100;
        color: rgb(233, 233, 233);
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
}

@media (max-width: 1000px) {
  .show-container {
    .show-header-container {
      height: auto;
      grid-template-columns: 1fr;
      
      .title-group {
        height: 60vh;
        h1 {
          font-size: 2.3rem;
        }
        span {
          font-size: 1rem;
        }
        .role-group {
          font-size: 0.8rem;
          gap: 2px;
          left: 0%;
          width: 100vw;
          text-align: center;
          p {
            // font-size: 1rem;
            span {
              // font-size: 1rem;
            }
          }
        }
      }
      .image-group {
        height: 50vh;
        background-color: transparent;
        margin: 10% 0;
        .desktop-pic {
          width: 90%;
          max-width: 700px;
        }
      }
    }
    .description-container {
      min-height: 400px;
      .description-group {
        width: 90%;
        h3 {
          font-size: 1.7rem;
          font-weight: 500;
        }
        p {
          font-size: 1rem;
        }
        button {
          padding: 10px 20px;
          a {
            font-size: 1rem;
          }
        }
      }
    }
    .images-container {
      padding: 10% 0;
      min-height: 50vh;
      .desktop-img {
        display: none;
      }
      .mobile-img {
        max-height: 400px;
      }
    }
    .tech-stack-container {
      min-height: 400px;
      h3 {
        font-size: 1.7rem;
        font-weight: 500;
      }
      .tech-stack-group {
        width: 90vw;
        .tech-stack {
          li {
            font-size: 1rem;
            padding: 3px 8px;
          }
        }
      }
      .repo-link {
        font-size: 1rem;
      }
    }
  }
}