footer {
    margin-top: 5%;
    font-family: 'Anton', sans-serif;
    width: 100%;
    padding-bottom: 1rem ;
   
    .p-container{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 2rem;
        p {
            width: fit-content;
            color: transparent;
            line-height: 10rem;
            font-size: 10rem;
           font-weight: 500;
           text-transform: uppercase;
           letter-spacing: 5px;
           -webkit-text-stroke: .8px rgb(255, 255, 255);
           transition: all 1s;
       
            
        }
        p:hover {
            background-color: #cecccc;
            -webkit-text-stroke: .8px rgb(0, 0, 0);
            transition: all .2s;
        }   
        #underline {
            border-bottom: 10px solid rgba(255, 0, 0, 0);
            -webkit-text-stroke: 1px rgb(247, 222, 0);
            // background-color: #cecccc68;
        } 
        #underline:hover {
            -webkit-text-stroke: 2px rgb(255, 255, 255);
           background-color: transparent;
            border-bottom: 10px solid rgb(255, 0, 0);
            
        }

    }
    .links-container {
        margin: 0 auto;
        padding: 0 5%;
        width: 98%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 900;
        height: 180px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
            display: flex;
            gap: 1rem;
            font-size: 1.3rem;
            list-style: none;
            li a {
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-weight:600;
                letter-spacing: 1px;
            }
        }
        #copyright-wrapper {
            li a {
                font-family: 'Gruppo', cursive;
            }
            
        }
    }
}