footer {
    margin-top: 5%;
    // font-family: 'Anton', sans-serif;
    width: 100%;
    padding-bottom: 1rem ;
   
    .p-container{
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 10px;
        text-align: center;
            
        p {
            width: fit-content;
            color: rgba(49, 128, 137, 0.905);
            // line-height: 0rem;
            font-size: 30px;
           font-weight: 500;
           text-transform: uppercase;
           letter-spacing: 5px;
        //    -webkit-text-stroke: .8px rgb(255, 255, 255);
           transition: all 0.1s ease-in-out;     
           font-family: "Silkscreen", sans-serif;
        }

        // p:hover{
        //     color: rgba(0, 0, 0, 0.336);
        //     -webkit-text-stroke: .8px rgb(10, 195, 155);
        //     transition: all .2s;
        // }   
        #underline {
            border-bottom: 2px dotted rgba(255, 0, 0, 0);
            // -webkit-text-stroke: 1px rgb(247, 222, 0);
            // background-color: #cecccc68;
            a {
                text-decoration: none;
                color: rgba(192, 189, 0, 0.584);
                transition: all 0.1s ease-in-out;     
                &:hover {
                    color: rgba(192, 189, 0, 0.935);
                }
           }
        } 
        #underline:hover {
            border-bottom: 2px solid rgb(84, 84, 84);
        }
   

    }
    .links-container {
        margin: 0 auto;
        padding: 0 5%;
        width: 98%;
        // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 900;
        height: 180px;
        background-image: url('/scanlines.png');
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
            display: flex;
            align-items: baseline;
            gap: 1rem;
            font-size: 1.2rem;
            list-style: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            // font-family: "Silkscreen", sans-serif;
            font-family: "Gabarito", sans-serif;
            .copy-text {
                font-size: 0.9rem;
                font-weight: 100;
                color: rgba(255, 255, 255, 0.839);
                letter-spacing: 1px;
            }
            li a {
                text-decoration: none;
                color: rgba(49, 128, 137, 0.905);
                font-weight:100;
                letter-spacing: 1px;
                border: 1px solid rgba(0, 0, 0, 0);
                padding: 5px 8px;
                font-variant: small-caps;
                &:hover{
                    border: 1px solid rgb(17, 65, 54);
                    -webkit-text-stroke: 1px rgb(49, 126, 96);
                    transition: all .1s;                   
                }
                &:active{
                    border: 1px solid rgba(0, 0, 0, 0);
                    -webkit-text-stroke: .5px rgb(0, 0, 0);
                    transition: all .1s;                  
                }
            }
        }
    }
}











@media (max-width: 880px) {
    footer {

        .links-container {
        
            ul {
                flex-direction: column;
            }
            #games{
                display: none;
            }
            #blog {
                display: none;
            }
        }
    }
}

@media (max-width: 390px) {
    footer {
        
        .links-container {
            height: auto;
            padding: 5% 0;
            text-align: center;
            flex-direction: column;
            justify-content: space-evenly;
            

            ul {
                font-size: 1.1rem;
                width: 100%;
                flex-direction: column-reverse;
                margin-top: 1rem;
                .copy-text {
                    padding-top: 9px;
                }

                li {
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }

    }
}

