.terminal-window {
    width: 80%;
    max-width: 1500px;
    height: 80%;
    // border: 1px solid rgb(13, 147, 13);
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .intro-text-container {

    }
    
    .blog-projects-container {
        width: 50%;
        max-width: 1000px;
        .projects-list {
            list-style: none;
          
             li {
                display: flex;
                justify-content: space-between;
                padding: 5px;

                &:hover {
                    background-color: rgb(13, 147, 13);
                    color: #011c01;
                }
             }
        }
    }
    .image-window-container {
        position: absolute;
        width: 400px;
        height: 400px;
        right: 0;
        top: 0;
        border: 1px solid;
    }    
}

