.circle-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

  
    .central-button {
      width: 120px;
      height: 110px;
      border: 1px solid rgb(97, 97, 97);
      background-color: #525252b3;
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: white;
      font-size: 20px;
      font-weight: 100;
      font-family: "Libre Franklin", sans-serif;
      transition: background-color 0.3s ease;
      z-index: 11;
  
      &:hover {
        // background-color:#4d4d4d;
        background-color: #174f2bc8;
        border-color: #174f2bc8;
      }
    }
  
    .menu-item {
      position: absolute;
      width: 90px;
      height: 90px;
      background-color: #333333;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 1.2rem;
      transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
      z-index: 10;
      text-align: center;

      img {
        max-width: 50px;
      }
      span {
        font-family: "Libre Franklin", sans-serif;
        font-weight: 100;
        font-size: 16px;
      }
    }    
  

  }

  @media (max-width: 1300px) {
    .circle-menu{
      .central-button{
        width: 90px;
        height: 80px;
        font-size: 18px;

      }
      
        .menu-item{
          width: 50px;
          height: 50px;
          font-size: 18px;
          img{
            max-width: 30px;
          }   
      }        
    }
  }
  @media (max-width: 700px) {
    .circle-menu{
      position: relative;
      .central-button{
        width: 200px;
        height: 60px;
        font-size: 18px;

      }

        .menu-item{
          width: 40px;
          height: 40px;
          img{
            max-width: 30px;
          }
        }        
      // }
        
    }
  }


  