@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gruppo&family=Orbitron:wght@400;500;600;700;800;900&family=Six+Caps&display=swap');


  // Colors
  $white: #ffffff;
  $black: #070707;
  $white-opacity-60: rgba(255, 255, 255, 0.6);
  $white-opacity-80: rgba(255, 255, 255, 0.8);
  $red: #ff6347;
  $yellow: #ffd000;
  $gray: #808080;
  $stars: 500; // Number of stars 
  $shooting-stars: 2; // Number of stars
  $sky-width: 2000; // Width of your sky
  $sky-height: 2000; // Height of your sky



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // cursor: url('../public/sword.png'), auto ;
}
// #0E141B

html {
  // -webkit-animation: Coolgradient 41s linear infinite;
  // -moz-animation: Coolgradient 41s linear infinite;
  // -o-animation: Coolgradient 41s linear infinite;
  // animation: Coolgradient 41s linear infinite;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  width: 100vw;
}

 body {
  width: 100vw;
  background-color: #0E141B;
  font-family: 'Orbitron', sans-serif;
  color: $black;
  overflow-x: hidden;
  max-width: 100vw;
  overscroll-behavior: none;
}



@function generate-stars($stars, $sky-width, $sky-height) {
  $result: ();
  @for $i from 1 through $stars {
      $result: append($result, random($sky-width) + px unquote(' ') random($sky-height) + px #fff, comma);
  }
  @return $result;
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed; 
  box-shadow: generate-stars($stars, $sky-width, $sky-height);
  animation: twinkle 5s infinite;
}


@keyframes twinkle {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.01); opacity: 0.4; }
  100% { transform: scale(1); opacity: 1; }
}


.falling-stars {
  position: absolute;
  top: -3%;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: animateBg 500s linear infinite;
  overflow: hidden;
}

// @keyframes animateBg{
//   0%,100%{
//       transform: scale(1);
//   }
//   50%{
//       transform: scale(1.1);
//   }
// }

.falling-star{
  position: absolute;
  top:50%;
  left:50%;
  width: 2px;
  height: 2px;
  background: #fefefe;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
  animation: animate 500s linear infinite;
}
.falling-star::before{
  content:'';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 1px;
  background: linear-gradient(90deg,#ffffffce,transparent);
}
@keyframes animate
{
  0%
  {
      transform: rotate(315deg) translateX(1000px);
      opacity: 1;
  }
  70%
  {
      opacity: 0.6;
  }
  100%
  {
      transform: rotate(300deg) translateX(-1000px);
      opacity: 0;
  }
}
.falling-star:nth-child(1){
  top: 0;
  right: 50%;
  left: initial;
  // animation-delay: 6s;
  animation-duration: 20s;
}
.falling-star:nth-child(2){
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 10s;
  animation-duration: 13s;
}
.falling-star:nth-child(3){
  top: 80;
  right: 0px;
  left: initial;
  animation-delay: 24s;
  animation-duration: 17s;
}
.falling-star:nth-child(4){
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 8s;
  animation-duration: 22s;
  
}


