@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gruppo&family=Orbitron:wght@400;500;600;700;800;900&family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;700&family=Libre+Franklin&family=Silkscreen:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;700&family=Gabarito:wght@400..900&family=Libre+Franklin&family=Silkscreen:wght@400;700&display=swap');

// font-family: "Libre Franklin", sans-serif;
// font-family: "Expletus Sans", sans-serif;
// font-family: "Silkscreen", sans-serif;


$yellow: #f1e72b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

 body {
  width: 100dvw;
  background-color: #13141b;
  background-image: url('/bg.svg');
  // font-family: 'Orbitron', sans-serif;
  font-family: "Gabarito", sans-serif;
  color: black;
  overflow-x: hidden;
  max-width: 100dvw;
  overscroll-behavior: none;
}


