
.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    width: 800px;
    gap: 2rem;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    perspective: 1000px;

    #games-link {
        font-family: "Silkscreen", sans-serif;
    }
    
    a {
        text-decoration: none;
        letter-spacing: 0rem;
        font-size: 1.4rem;
        color: rgb(115, 114, 112);
        animation: myanimation 5s ease;
        transform: perspective(1000px) rotateY(0deg);
        transform-style: preserve-3d;
        transition: all .5s;

        
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            height: 4px;
            width: 0;
            background: #651818;
            transition: width 0.3s cubic-bezier(.86, 0, .07, 1);
        }
    
        &:hover:after {
            width: 100%;
            
        }
        &:hover {
            color: #ffffff;
        }

    }
    
}



@media (max-width: 1250px) {

    // .nav-container {
    //     a {
    //         font-size: 2rem;
           
    //     }
    // }
}

@media (max-width: 820px) {

    .nav-container {
        width: 100dvw;
        gap: 3%;
        #games-link {
            display: none;
        }
        #blog-link{
            display: none;
        }

        a {
            margin: 0;
            font-size: 22px;
        }
    }

}

@media (max-width: 550px) {

    .nav-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
        padding-left: 5%;
    }

}